<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/login-register.css">
    <link rel="stylesheet" href="/stylesheets/start.css">
    <link rel="stylesheet" href="/stylesheets/study.css">
    <link rel="stylesheet" href="/stylesheets/communicate.css">
    <link rel="stylesheet" href="/stylesheets/publish.css">
    <link rel="icon" href="favicon1.ico" type="image/x-ico">
    <title>Show Me The Code.</title>
</head>
<body>
<header>
    <div class="container nav-div">
        <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"><b class="strong">HO</b><span class="glyphicon glyphicon-home" aria-hidden="true"></span><b class="strong">E</b></a></li>
                <li><a href="/start">起步（须知）</a></li>
                <li><a href="/study">开始学习</a></li>
                <li><a href="/communicate">交流论坛</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="articleController as ctrl">
                <li id="logining"><a href="/login">登录/注册</a></li>
                <li id="logined" class="dropdown"><a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-bind="ctrl.info+' ▼'"></a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="" style="text-align:center">个人中心</a></li>
                        <li><a href="/OutLogin" style="text-align:center">退出登录</a></li>
                    </ul>
                </li>
                <li><a href="/about">关于我（们）</a></li>
            </ul>
        </nav>
    </div>
    <div class="row words">
        <div class="logo col-md-4 col-md-offset-1">
            <a href=""><img src="/images/Logo.gif" alt="Logo" title="Web前端开发学习交流网站"></a>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <h1>「Talk is cheap. Show me the code」</h1>
        </div>
    </div>
</header>
{{{body}}}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Web前端开发技术学习交流平台</h3>
                <p>本学习交流平台所展示的Web前端知识内容仅供参考，标准知识请前往<a href="http://www.w3school.com.cn/">W3school</a>查看。</p>
            </div>
            <div class="col-md-4 col-lg-offset-2">
                这里要有写什么东西？？？
            </div>
        </div>
    </div>
</footer>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/angular/angular.min.js"></script>
<script src="/javascript/angular.js"></script>
</body>
</html>
