<div class="container page-header">
    <h1>Web前端开发技术学习交流平台</h1>
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>HTML&nbsp;+&nbsp;CSS&nbsp;+&nbsp;JavaScript&nbsp;+&nbsp;...</p>
        <p><a class="btn btn-primary btn-lg" href="/study" role="button">开始学习</a></p>
    </div>
</div>